//-------------------------------------------------\\
// SASS MANIFEST
//-------------------------------------------------\\

@import 'base/colours';
@import 'base/variables';
@import 'base/typography';

@import 'utilities/align';
@import 'utilities/clearfix';
@import 'utilities/hidden';
@import 'utilities/mixins';
@import 'utilities/spacings';

@import 'layout/breakpoints';
@import 'layout/container';
@import 'layout/flexbox';

@import 'components/button';
@import 'components/form';
@import 'components/global-footer';
@import 'components/global-header';
@import 'components/list';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1 {
    color: blue;
}
